.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
}

.blog-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: auto;
}

.blog-card h3 {
  margin-top: 0;
}

.blog-card p {
  margin-bottom: 10px;
}

.blog-card-content {
  text-align: left;
  overflow: auto;
}

.blog-buttons {
  display: flex;
  justify-content: center;
}

.blog-card button {
  margin-right: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #333;
  color: white;
  transition: background-color 0.3s ease;
}

.blog-card button:hover {
  background-color: black;
}

.create-blog-button {
  margin-right: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #333;
  color: white;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.create-blog-button:hover {
  background-color: black;
}
